body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear:both;
}

img.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
  border-style: solid;
  border-width: 4px;
  border-color: burlywood;
  border-radius: 70%;
}

.creative{
  color:navy;
  display:inline-block;
  width:70%;
}

div.card{
width: 45%;
}

div.left.card{
  float: left;
}

div.right.card{
  float: right;
}

@media (max-width:680px) {
  .logo{
    width:100px;
  }

  h1{
    font-size: 3.5rem;
    text-align: center;
  }

  div.card{
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
